<a href="https://colab.research.google.com/github/KTSNVaishnavi/Machine-Learning/blob/main/Logistic_Regression_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import os 
path='/content/gdrive/MyDrive/MachineLearning/Logistic Regression'
os.chdir(path)

In [ ]:
#importing necessary packages
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import confusion_matrix,classification_report

In [ ]:
data=pd.read_csv('/content/gdrive/MyDrive/MachineLearning/SVM/UnivBank.csv', na_values=['?','#'])

In [ ]:
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0.0,0,1.0,0.0,0,0
1,2,45,19,34,90089,3,1.5,1,0.0,0,1.0,0.0,0,0
2,3,39,15,11,94720,1,1.0,1,0.0,0,0.0,0.0,0,0
3,4,35,9,100,94112,1,2.7,2,0.0,0,0.0,NaN,0,0
4,5,35,8,45,91330,4,1.0,2,0.0,0,0.0,0.0,0,1

In [ ]:
data.tail()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
4995,4996,29,3,40,92697,1,1.9,3,0.0,0,0.0,0.0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85.0,0,0.0,0.0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0.0,0,0.0,0.0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0.0,0,0.0,0.0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0.0,0,0.0,0.0,1,1

In [ ]:
data.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,4998.000000,5000.000000,4998.000000,4999.000000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937938,1.881000,56.521409,0.096000,0.104442,0.060412,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747659,0.839869,101.727873,0.294621,0.305863,0.238273,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
data.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [ ]:
data.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              2
Personal Loan         0
Securities Account    2
CD Account            1
Online                0
CreditCard            0
dtype: int64

In [ ]:
#Train and test split
X_train,X_test,y_train,y_test= train_test_split(data.loc[:,data.columns!='Personal Loan'], data['Personal Loan'], test_size=0.3, random_state=100)

In [ ]:
#Separating the numerical and categorical columns 
catcols=['Securities Account','CD Account','Education','Online','CreditCard']
waste=['ID','ZIP Code']
X_train=X_train.drop(waste, axis=1)
X_test=X_test.drop(waste,axis=1)
X_train[catcols]=X_train[catcols].astype('category')
X_test[catcols]=X_test[catcols].astype('category')
X_train.dtypes
X_test.shape
X_train_cat=X_train[catcols]
X_train_num=X_train.drop(catcols,axis=1)
X_test_cat=X_test[catcols]
X_test_num=X_test.drop(catcols,axis=1)
X_train_cat.head()

     Securities Account CD Account Education Online CreditCard
4966                0.0        0.0         1      0          0
4086                1.0        0.0         1      0          0
2881                0.0        0.0         3      1          0
1237                0.0        1.0         3      1          1
1429                0.0        0.0         3      0          0

In [ ]:
X_train_num.corr()

                 Age  Experience    Income    Family     CCAvg  Mortgage
Age         1.000000    0.994008 -0.054331 -0.041778 -0.051841 -0.000118
Experience  0.994008    1.000000 -0.047161 -0.047198 -0.050348  0.001920
Income     -0.054331   -0.047161  1.000000 -0.159925  0.651380  0.184223
Family     -0.041778   -0.047198 -0.159925  1.000000 -0.124492 -0.035076
CCAvg      -0.051841   -0.050348  0.651380 -0.124492  1.000000  0.099374
Mortgage   -0.000118    0.001920  0.184223 -0.035076  0.099374  1.000000

In [ ]:
#Removing the most correlated variable
X_train_num=X_train_num.drop(['Age'],axis=1)
X_test_num=X_test_num.drop(['Age'],axis=1)

In [ ]:
#Imputing null values
impnum=SimpleImputer(strategy='mean')
impcat=SimpleImputer(strategy='most_frequent')

In [ ]:
#Imputing the null values in both categorical and numerical columns
X_train_num=pd.DataFrame(impnum.fit_transform(X_train_num),columns=X_train_num.columns)
X_test_num=pd.DataFrame(impnum.transform(X_test_num),columns=X_test_num.columns)
X_train_cat=pd.DataFrame(impcat.fit_transform(X_train_cat),columns=X_train_cat.columns)
X_test_cat=pd.DataFrame(impcat.transform(X_test_cat),columns=X_test_cat.columns)
# X_train_cat.astype('category')
# X_test_cat.astype('category')

In [ ]:
X_train_num.isnull().sum()

Experience    0
Income        0
Family        0
CCAvg         0
Mortgage      0
dtype: int64

In [ ]:
# Standardizing the numerical data
std=StandardScaler()
X_train_num=pd.DataFrame(std.fit_transform(X_train_num), columns=X_train_num.columns)
X_test_num=pd.DataFrame(std.transform(X_test_num),columns=X_test_num.columns)

In [ ]:
#Encoding the categorical columns
X_train_cat=pd.get_dummies(columns=X_train_cat.columns,data=X_train_cat, drop_first=True)
X_train_cat.head()
X_test_cat=pd.get_dummies(columns=X_test_cat.columns,data=X_test_cat, drop_first=True)

In [ ]:
#Joining  the numerical and categorical 
Xtrain=pd.concat([X_train_num,X_train_cat], axis=1)
Xtest=pd.concat([X_test_num,X_test_cat],axis=1)
Xtest.shape
# Xtrain.shape

(1500, 11)

In [ ]:
#Estimating the best parameters using GridSearch
params={'penalty':['l2','l1','elasticnet','none'],'solver':['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']}
search=GridSearchCV(LogisticRegressionCV(),params, cv=10)
search.fit(Xtrain,y_train)
print(search.best_params_)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
130 fits failed out of a total of 200.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 2031, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver newton-cg supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 2031, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 2031, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver sag supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 2031, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver newton-cg supports only 'l2' or 'none' penalties, got elasticnet penalty.

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 2031, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got elasticnet penalty.

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 2031, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 459, in _check_solver
    solver
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 2031, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 449, in _check_solver
    % (solver, penalty)
ValueError: Solver sag supports only 'l2' or 'none' penalties, got elasticnet penalty.

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 2059, in fit
    % self.l1_ratios
ValueError: l1_ratios must be a list of numbers between 0 and 1; got (l1_ratios=None)

--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 2073, in fit
    "penalty='none' is not useful and not supported by "
ValueError: penalty='none' is not useful and not supported by LogisticRegressionCV.

--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 2031, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py", line 464, in _check_solver
    raise ValueError("penalty='none' is not supported for the liblinear solver")
ValueError: penalty='none' is not supported for the liblinear solver

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.95942857 0.95942857 0.95885714 0.95914286 0.95942857        nan
        nan 0.95885714        nan 0.95942857        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan]
  category=UserWarning,

{'penalty': 'l2', 'solver': 'newton-cg'}

In [ ]:
#Fitting the model
model=LogisticRegressionCV(penalty='l2',cv=10,solver='newton-cg',class_weight=10)
log=model.fit(Xtrain, y_train)

In [ ]:
#Predicting the target variable
logtrain=model.predict(Xtrain)
logtest=model.predict(Xtest)

In [ ]:
#Printing the Confusion Matrix
print(confusion_matrix(logtrain,y_train))
print(confusion_matrix(logtest,y_test))

[[3153  107]
 [  25  215]]
[[1327   55]
 [  15  103]]

In [ ]:
#Printing the classification report
print(classification_report(logtrain,y_train))
print(classification_report(logtest,y_test))

              precision    recall  f1-score   support

           0       0.99      0.97      0.98      3260
           1       0.67      0.90      0.77       240

    accuracy                           0.96      3500
   macro avg       0.83      0.93      0.87      3500
weighted avg       0.97      0.96      0.96      3500

              precision    recall  f1-score   support

           0       0.99      0.96      0.97      1382
           1       0.65      0.87      0.75       118

    accuracy                           0.95      1500
   macro avg       0.82      0.92      0.86      1500
weighted avg       0.96      0.95      0.96      1500